* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

:root {
    --main-color: #eeeeee;
    --secondary-color: #393e46;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content, .footer {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.content {
    flex: 1;
}

.footer {
    height: 5vh;
}

/* arrange footer for both side bar and main content */
.sidebar {
    background-color: var(--main-color);
}

.side-bar-end, .main-content-footer {
    display: flex;
    align-items: center;

    border-top: 1px solid var(--secondary-color);
}

.side-bar-end {
    justify-content: center;
    gap: 12px;
}

.main-content-footer {
    justify-content: space-around;
}