* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color: #eeeeee;
    --secondary-color: #393e46;

    --bold: 900;
    --font-size: 24px;
    
    --gap-size: 24px;
    --smaller-gap-size: 12px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content, .footer {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.content {
    flex: 1;
}

.footer {
    height: 7vh;
    border-top: 1px solid var(--secondary-color);
}

/* arrange footer for both side bar and main content */
.sidebar {
    background-color: var(--main-color);
}

.sidebar {
    border-right: 1px solid var(--secondary-color);
}

.side-bar-end, .main-content-footer {
    display: flex;
    align-items: center;
}

.side-bar-end {
    justify-content: center;
    gap: var(--smaller-gap-size);

    border-right: 1px solid var(--secondary-color);
    background-color: var(--main-color);
}

.main-content-footer {
    justify-content: space-around;
}

/* side bar (project toggle) */
.sidebar {
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.project-title {
    font-weight: var(--bold);
    font-size: var(--font-size);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: var(--smaller-gap-size);
}

.project-list  {
    list-style-type: none;
}

.project-list > li {
    display: flex;
    gap: 8px;

    align-items: center;
}

.project-list .project-title {
    font-weight: normal;
    font-size: 16px;
}